body {
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 10px;
}

input {
  padding: 5px;
  margin-right: 5px;
}

.container {
  display: grid;
  margin-top: 5px;
  /* align-items: stretch; */
  grid-template-columns: 3fr repeat(5, 2fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.header {
  width: 100%;
  padding: 5px;
  background-color: #666666;
  text-align: center;
}

.pageTitle {
  padding: 5px;
  color: #eeeeee;
  font-size: 24pt;
}

.nav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 12;
  padding-left: 10px;
  background-color: #eeeeee;
}

.listCityNav {
  margin-right: 10px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  cursor: pointer;
}

.selectedCity {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 7;
  padding-left: 5px;
}

.selectedCity img {
  margin-bottom: -15px;
}

.cityName {
  display: inline;
}

.forecastDay {
  grid-row: 7 / 12;
  border: solid 1px #eeeeee;
  padding: 10px;
}

#day0 {
  /* align-self: stretch; */
  grid-column: 2 / 3;
}

#day1 {
  grid-column: 3 / 4;
}

#day2 {
  grid-column: 4 / 5;
}

#day3 {
  grid-column: 5 / 6;
}

#day4 {
  grid-column: 6 / 7;
}

.fa {
  color: blue;
}
